#gameEnd-container {
    text-align: center;
    width: 99%;
    height: 99%;
}

.game-end-heading {
    font-size: 3rem;
}

.leaderboard-container {
    display: inline-block;
    text-align: left;
    width: 50%;
    vertical-align: top;
    padding-left: 10%;
}

.layout-setter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.leftdiv{
    width: 50%;
    padding-left: 20%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

.button:hover {
    background-color: #45a049;
}


.podium-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 5vh);
}

.podium-container>div {
    text-align: center;
}

.podium-item:nth-child(7),
.podium-item:nth-child(8),
.podium-item:nth-child(5),
.podium-item:nth-last-child(-n+3) {
    background-color: #ccc;
    font-weight:bold;
}

.arc-text-container {
    position: relative;
}

.arc-text {
    color: white;
    position: absolute;
    font-size: 1.5em;
    bottom: 0;
    left: 50%;
    transform-origin: bottom center;
    animation: jump 1.5s ease-in-out infinite;
}

.podium-text{
    font-weight: bold;
    font-size: 1.5em;
    color: goldenrod;
}

@keyframes jump {
    0% {
        transform: translateY(0%) translateX(0%);
    }

    5% {
        transform: translateY(-15%) translateX(-5%);
    }

    10% {
        transform: translateY(-25%) translateX(-10%);
    }

    15% {
        transform: translateY(-38%) translateX(-15%);
    }

    20% {
        transform: translateY(-45%) translateX(-20%);
    }

    25% {
        transform: translateY(-50%) translateX(-25%);
    }

    30% {
        transform: translateY(-45%) translateX(-30%);
    }

    35% {
        transform: translateY(-38%) translateX(-35%);
    }

    40% {
        transform: translateY(-25%) translateX(-40%);
    }

    45% {
        transform: translateY(-10%) translateX(-45%);
    }

    50% {
        transform: translateY(0%) translateX(-50%);
    }

    55% {
        transform: translateY(-10%) translateX(-45%);
    }

    60% {
        transform: translateY(-25%) translateX(-40%);
    }

    65% {
        transform: translateY(-38%) translateX(-35%);
    }

    70% {
        transform: translateY(-47%) translateX(-30%);
    }

    75% {
        transform: translateY(-50%) translateX(-25%);
    }

    80% {
        transform: translateY(-47%) translateX(-20%);
    }

    85% {
        transform: translateY(-38%) translateX(-15%);
    }

    90% {
        transform: translateY(-25%) translateX(-10%);
    }

    95% {
        transform: translateY(-15%) translateX(-5%);
    }

    100% {
        transform: translateY(0%) translateX(0%);
    }
}