#root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.join-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 10vh;
    border-radius: 5px;
}
#player-name{
    font-size: large;
    margin-bottom: 15px;
}
.lobby-list{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 60vw;
    height: 70vh;
    overflow-y: scroll;
    background-color: #1c1d20e3;
    border-radius: 10px;
    padding: 15px;


}
.lobby{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    padding-right: 0px;
    border-radius: 5px;
    background-color: #252729;
}
.xd{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.lobby-id{

}
.lobby-users{

}

