#container-lbd {
    display: flex;
    height: 5%;
    width: 220px;
    background-color: #565555;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #888888;
    overflow: hidden;
    text-shadow: 0 0 2px black;
    margin-bottom: 12px;
}

#left-square-lbd {
    height: 30%;
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #888888;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

#right-rectangles-lbd {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.top-rectangle-lbd {
    flex: 1;
    background-color: #888888;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.bottom-rectangle-lbd {
    flex: 1;
    background-color: #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

#leaderborad-container {
    justify-content: center;
}

.localPlayer {
    background-color: #20ab79 !important;
    border-color: #62efbd !important;
}

.localPlayer #left-square-lbd {
    background-color: #62efbd !important;
}
.localPlayer .top-rectangle-lbd {
    background-color: #62efbd !important;
}
.localPlayer .bottom-rectangle-lbd {
    background-color: #62efbd !important;
}
