@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.fancy-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background-color: transparent;
}

.fancy-scrollbar::-webkit-scrollbar-track {
    background: #ffffff44;
    border-radius: 0.25rem;
    margin: 0.25rem;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 5px 5px #ffffff99;
}

.fancy-scrollbar::-webkit-scrollbar-corner {
    display: none;
}
