#lobby-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100vw;
    row-gap: 5vh;
    column-gap: 5vw;
}

#settings-column,
#player-list,
#center-column {
    height: 100%;
    padding: 2vh 1vw;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#settings {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#settings,
#player-list {
    width: 40vw;
}
#center-column {
    width: 20vw;
}

#settings-column {
    height: 100%;
    padding: 3vh 1vw;
    row-gap: 4vh;
}

#logo {
    margin-bottom: 30vmin;
}

#player-list,
#settings {
    padding: 0;
}

#player-count-div,
#form-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 4vmin;
    text-transform: capitalize;
    width: 100%;
    min-height: 5vmin;
}

#list-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 1vh 0.5vw;
    row-gap: 1.5vh;
    column-gap: 0.5vw;
    flex-wrap: wrap;
    overflow: hidden;
}

#settings-column,
#list-column {
    opacity: 0.8;
}

#settings-column label {
    font-size: 3.5vmin;
    color: white;
    font-weight: bold;
}
#settings-column input {
    font-size: 2.5vmin;
    color: white;
}

#center-column {
    align-items: center;
    justify-content: space-evenly;
}

#exit-button,
#start-button {
    font-size: 5vmin;
    height: 8vmin;
    max-width: 200%;
}

.player-item {
    display: flex;
    width: 49%;
    font-size: 2.5vmin;
    color: white;
    min-height: 5vmin;
    align-content: center;
    align-items: center;
    justify-content: center;
    opacity: 1;
    border-radius: 6px;
    outline: 1px solid white;
    font-weight: bold;
}

.this-player-item {
    color: yellow;
}

.crown-svg {
    height: 2.5vmin;
    margin-left: 1vmin;
    fill: goldenrod;
}
